@if (isLoading) {
} @else if (album) {
  <h2>{{ album.title }}</h2>

  <form>
    <div class="mb-3 row">
      <div class="col-lg-5 col-xs-3 col-sm-auto">
        <input
          id="table-complete-search"
          type="text"
          class="form-control"
          name="searchTerm"
          placeholder="Search text"
          [(ngModel)]="photosService.searchTerm"
        />
      </div>
    </div>

    @if (photosService.loading$ | async) {
      <div
        class="d-flex justify-content-center align-items-center"
        style="min-height: 300px"
      >
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    } @else {
      <div class="row row-cols-6 row-gap-3">
        @for (photo of photos$ | async; track photo.id) {
          <div class="col">
            <div class="card mb-3 h-100">
              <img
                [src]="photo.thumbnailUrl"
                class="card-img-top"
                alt="photo thumbnail"
              />
              <div class="card-body">
                <p class="card-text text-truncate" [title]="photo.title">
                  <ngb-highlight
                    [result]="photo.title"
                    [term]="photosService.searchTerm"
                  />
                </p>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="(total$ | async)!"
          [(page)]="photosService.page"
          [pageSize]="photosService.pageSize"
          [maxSize]="5"
        ></ngb-pagination>

        <select
          class="form-select"
          style="width: auto"
          name="pageSize"
          [(ngModel)]="photosService.pageSize"
        >
          <option [ngValue]="12">12</option>
          <option [ngValue]="24">24</option>
          <option [ngValue]="48">48</option>
          <option [ngValue]="72">72</option>
          <option [ngValue]="96">96</option>
        </select>
      </div>
    }
  </form>
}
