<nav class="side-nav p-3">
  <h1 class="fs-5 px-3">KamiSocial</h1>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ariaCurrentWhenActive="page"
      >
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/posts"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Posts
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/albums"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Albums
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/photos"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Photos
      </a>
    </li>
  </ul>
</nav>
<main class="main">
  <nav aria-label="breadcrumb" class="position-fixed top-0 w-100 bg-white z-1">
    <ol class="breadcrumb mt-3 px-3">
      <li class="breadcrumb-item">
        <a
          class="breadcrumb-item text-decoration-none"
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Home
        </a>
      </li>
      @for (
        breadcrumb of breadcrumbs;
        track breadcrumb.label;
        let isLast = $last
      ) {
        @if (isLast) {
          <li class="breadcrumb-item">
            {{ breadcrumb.label }}
          </li>
        } @else {
          <li class="breadcrumb-item">
            <a
              class="breadcrumb-item text-decoration-none"
              [routerLink]="breadcrumb.url"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              {{ breadcrumb.label }}
            </a>
          </li>
        }
      }
    </ol>
  </nav>
  <div class="container">
    <router-outlet />
  </div>
</main>
