<nav>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/posts"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Posts
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/albums"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Albums
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="/photos"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
      >
        Photos
      </a>
    </li>
  </ul>
</nav>
<main class="main">
  <div class="container">
    <router-outlet />
  </div>
</main>
