<h2>Posts</h2>

<form>
  <div class="mb-3 row">
    <div class="col-lg-5 col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        placeholder="Search text"
        [(ngModel)]="service.searchTerm"
      />
    </div>
  </div>

  @if (service.loading$ | async) {
    <div
      class="d-flex justify-content-center align-items-center"
      style="min-height: 300px"
    >
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else {
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" sortable="id" (sort)="onSort($event)">ID</th>
          <th scope="col" sortable="userId" (sort)="onSort($event)">User</th>
          <th scope="col" sortable="title" (sort)="onSort($event)">Title</th>
          <th scope="col" sortable="body" (sort)="onSort($event)">Body</th>
        </tr>
      </thead>
      <tbody>
        @for (post of posts$ | async; track post.id) {
          <tr>
            <td>
              <ngb-highlight
                [result]="post.id | number"
                [term]="service.searchTerm"
              />
            </td>
            <td>
              <ngb-highlight
                [result]="post.userId | number"
                [term]="service.searchTerm"
              />
            </td>
            <td>
              <ngb-highlight
                [result]="post.title"
                [term]="service.searchTerm"
              />
            </td>
            <td>
              <ngb-highlight [result]="post.body" [term]="service.searchTerm" />
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="4" style="text-align: center">No posts found</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!"
        [(page)]="service.page"
        [pageSize]="service.pageSize"
      ></ngb-pagination>

      <select
        class="form-select"
        style="width: auto"
        name="pageSize"
        [(ngModel)]="service.pageSize"
      >
        <option [ngValue]="10">10</option>
        <option [ngValue]="25">25</option>
        <option [ngValue]="50">50</option>
        <option [ngValue]="100">100</option>
      </select>
    </div>
  }
</form>
